# CAMUNDA
export PROCESS_ENGINE_PORT=8080
export PROCESS_ENGINE_HOST=http://localhost 

# CONTROLLER
export CONTROLLER_PORT=3000

# MONGO
export MONGO_PORT=27017 
export MONGO_HOST=mongodb://localhost

# NEO4J
export NEO4J_PORT=7687 
export NEO4J_HOST=neo4j://localhost
export NEO4J_USERNAME=neo4j 
export NEO4J_PASSWORD=demo