/camunda-optimize-3.4.0-demo/elasticsearch/elasticsearch-7.10.0/data/*
/camunda-simulation/camunda-h2-default/*
camunda/camunda-h2-default/process-engine.mv.db
camunda-h2-default/process-engine.mv.db
